$theme-1: #341c3e;
$theme-2: #d85c20;
$theme-2-1: #dc6f39;
$theme-3: #2e1938;
$theme-4: #341c3e;

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.size-100 {
  width: 100%;
  height: 100%;
}

.container .myswiper {
  width: 100%;
  height: 100vh;
}

.container .myswiper .swiperslide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

// .swiper-button-prev{
//   background-image: url('./Images/nav/nav-left.png');
// }

// .swiper-button-next{
//   background-image: url('./Images/nav/nav-right.png');
// }

// .swiper-button-next,
// .swiper-button-prev {
//   // background-repeat: no-repeat;
//   // background-size: contain;
//   // background-position: center;
// }

// .swiper-button-next::after,
// .swiper-button-prev::after {
//   // display: none;
// }

.swiper-wrapper{
  padding-bottom: 3rem;
}

.swiper-pagination-bullet{
  width: 24px !important;
  height: 24px !important;
  background-color: $theme-2 !important;
}